streamlit
numpy
opencv-contrib-python-headless
Pillow-SIMD
scikit-learn
scikit-image
torch
torchvision
ultralytics
transformers
sentencepiece
easyocr
deepface
dlib
PyWavelets
matplotlib
seaborn
plotly
colormath
imagehash
pytube
sentence-transformers
requests
