streamlit
numpy
opencv-contrib-python-headless
Pillow
scikit-learn
matplotlib
seaborn
torch
torchvision
deepface
transformers
pyiqa
ultralytics
easyocr
google-generativeai
openai
youtube-transcript-api
pytube
requests
